@import 'header.scss';
@import 'section.scss';

$verdeClaro: #75bc97;
$halfWhite: #f2f2f2;
$cinzaClaro: #a8a8a8;
$cinzaMidle: #848484;
$greenDark: #1e6b4e;

*,
body,
a,
h1,
h2,
h3,
div,
section,
header,
footer,
nav,
img {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: $halfWhite;
}


